html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;

}

#map {
    width: 80%;
    height: 100%;
    position: absolute;
    right: 0;
    /*top:50px;*/
    bottom: 0;
    z-index: 100;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

#wrapper {
    /*padding-left: 20%;*/
    /*-webkit-transition: all 0.5s ease;*/
    /*-moz-transition: all 0.5s ease;*/
    /*-o-transition: all 0.5s ease;*/
    /*transition: all 0.5s ease;*/
}


/* Sidebar */
#sidebar-wrapper, #cmp-sidebar-wrapper{
    /*margin-left: -250px;*/
    left: 0%;
    width: 20%;
    z-index: 1000;
    /*background: lightgrey;*/
    background-color: rgb(60, 60, 60);
    color: #b5b5b7;

    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 100;
    -webkit-transition: all 0.5s ease;
    -ms-transition:  all 0.5s ease ;
    -moz-transition: all 0.5s ease;
    -ms-transition:  all 0.5s ease ;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 16px;

}

/*#cmp-sidebar-wrapper{
    margin-left: -250px;
    left: 0%;
    width: 20%;
    z-index: 1000;
    background: lightgrey;
    background-color: rgb(60, 60, 60);
    color: #b5b5b7;

    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 100;
    -webkit-transition: all 0.5s ease;
    -ms-transition:  all 0.5s ease ;
    -moz-transition: all 0.5s ease;
    -ms-transition:  all 0.5s ease ;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 16px;

}*/

#page-content-toggle {
    position: absolute;
    z-index: -1;
    left: 20%;
    /*top: 50%;*/
    height: 100%;
    /*border: 1px solid black;*/
    /*background: #4099FF;*/
    border: transparent;
    /*background: transparent;*/
    /*background: dodgerblue;*/
    /*transition-delay: 0.5s;*/
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -ms-transition:  left 0.5s ease ;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;

    outline: none;

}

#page-content-toggle:hover {
    background: dodgerblue;
}

#close-sidebar {
    position: absolute;
    z-index: -1;
    top : 20px;
    background: transparent;
    border: transparent;
    /*left: 0%;*/
    left: calc(40% - 45px);

    -webkit-transition: all 0.5s ease ;
    -moz-transition:  all 0.5s ease ;
    -ms-transition:  all 0.5s ease ;
    -o-transition:  all 0.5s ease ;
    transition:  all 0.5s ease ;
    /*right : 10px;*/
    outline: none;
}

#add-suburb {
    position: absolute;
    z-index: -1;
    background: transparent;
    border: transparent;
    top: 20px;
    left: calc(20% - 45px);
    -webkit-transition: all 0.5s ease ;
    -moz-transition:  all 0.5s ease ;
    -ms-transition:  all 0.5s ease ;
    -o-transition:  all 0.5s ease ;
    transition:  all 0.5s ease ;
    /*right : 10px;*/
    outline: none;
}

#add-suburb.clicked:hover .colour {
    color: red;
}

#suburb-hover {
    position: fixed;
    z-index: 100;
    right: 50px;
    width: 220px;
    bottom: 320px;
    height: 3.5rem;
    background: white;
    text-align: center;
    border: 1px solid black;
}

#title {
    position: fixed;
    background: width;
    right: 50px;
    bottom: 264px;
    width: 220px;
    z-index: 100;
    height: 40px;
    min-height: 3.5rem;
    text-align: center;
    background-color: rgb(60, 60, 60);
    color: #b5b5b7;
    border: 1px solid black;
}

#carousel-suburb, #cmp-carousel-suburb {
    left: 10%;
    right: 10%;
    width: 80%;
}

#detailed-info {
    /*visibility: hidden;*/
    display: none;
}
#summary {
    /*transition-delay: 1.0s;*/
}

.suburb-title {
    /*padding-left: 2px;*/
    color: white;
    background: #006699;
}

#legend {
	padding-top: 20px;
	padding-bottom: 20px;
    position: fixed;
    background-color: rgb(60, 60, 60);
    color: #b5b5b7;
    width: 220px;
    height: 240px;
    z-index: 100;
    right: 50px;
    bottom: 24px;
    border: 1px solid black;
    border-top: 1px solid lightgrey;
    font-size: 16px;
}

#description {
    /*font-size: 28px;*/
    font-family: Museo-Sans-500, sans-serif;
}

#lgd-checkbox {
	float:right;
}

.heatmap-selected {
    border-right: 10px solid white;
    color: white;
    /*background: dodgerblue;*/
    background: #006699;
}

#house-price::before {
    content: "Buy: ";
    font-weight: bold;

}

#house-rent::before {
    content: "Rent: ";
    font-weight: bold;

}

#unit-price::before {
    content: "Buy: ";
    font-weight: bold;
}

#unit-rent::before {
    content: "Rent: ";
    font-weight: bold;
}

#travel-time-private::before {
    content: "Private: ";
    font-weight: bold;
}

#travel-time-public::before {
    content: "Public: ";
    font-weight: bold;
}

#cmp-house-price::before {
    content: "Buy: ";
    font-weight: bold;

}

#cmp-house-rent::before {
    content: "Rent: ";
    font-weight: bold;

}

#cmp-unit-price::before {
    content: "Buy: ";
    font-weight: bold;
}

#cmp-unit-rent::before {
    content: "Rent: ";
    font-weight: bold;
}

#cmp-travel-time-private::before {
    content: "Private: ";
    font-weight: bold;
}

#cmp-travel-time-public::before {
    content: "Public: ";
    font-weight: bold;
}

.tab-content .col-md-6 {
    border: 1px solid lightgrey;
}

.legend-color-box {
    height:22px;
    width:22px;
    border-radius:0.8rem;
    float:left;
	margin-left:0px;
    border:1px solid black;
    margin-right:8px;
}

.sidebar-open .row.info {
    padding: 0px 15px 0x 15px;
    /*padding: 12px;*/
    /*margin: 0;*/
    font-size: 18px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

.sidebar-expanded .row.school-section {
    background-color: lightgrey;
}
.sidebar-expanded .row.school-prim-sec {
    font-size: 18px;
    border-bottom: 1px solid lightgrey;

}

.sidebar-open .row.info .hover {
    /*background: rgb(29, 29, 31);*/
    /*color: dodgerblue;*/
    /*background: #202020;*/
    /*color: dodgerblue;*/
    background: dodgerblue;
    /*background: #006699;*/
    color: white;
    cursor: pointer;
}

.pos {
    padding-bottom: 23px;
}
h2 {
    height: 50px;
}

.carousel {
    visibility: hidden;
}

.col-md-10 {
    border-left: 1px solid lightgrey;
    /*padding-bottom: 12px;*/
    padding: 0px 0px 0px 0px;  

}

.col-md-10 h3 {
    padding-left: 20px;
}

.col-md-10 span::before{
    /*border-bottom: 1px solid lightgrey;*/
    padding-left: 20px;
}

.col-md-2 .sidebar-open{
    padding: 8px;
}

.size {
    font-size: 1.5em;
}

.size-close {
    font-size: 2.5em;

}

.size-plus {
    font-size: 2.5em;
}

.col-style {
    visibility: hidden;
}

.checkbox {
    position: fixed;
    /*visibility: hidden;*/
    bottom: 10px;
}

.divider {
    position:absolute;
    left: calc(100% - 1px);
    /*top: 10px;*/
    /*bottom: 10px;*/
    border-left:1px solid lightgrey;
    visibility: hidden;
    /*transition-delay: 0.5s;*/
    /*-webkit-transition: all 0.5s ease;*/
    /*-moz-transition: all 0.5s ease;*/
    /*-ms-transition: all 0.5s ease;*/
    /*-o-transition: all 0.5s ease;*/
    /*transition: all 0.5s ease;*/

}

.nav-pills {
    text-align: center;
    visibility: hidden;
}

.nav-pills > li{
    float:none;
    display:inline-block;
}
.nav-pills {
    text-align: center;
    visibility: hidden;
}

.container-fluid.sidebar-expanded{
    /*margin-top: 30px;*/
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    visibility: hidden;
}

#legend .container-fluid {
    margin: 5px;
    /*margin-left: 10px;*/

    visibility: visible;
}
#legend h4{
    text-align: center;
}
#legend .row {
    /*border: solid 1px red;*/
    height: 24px;
}

#legend .row .checkbox-highlighted {
    color: white;
    background-color: #006699;
}

.cont.sidebar-open {
    /*margin-top: 10px;*/
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    /*margin-bottom: 10px;*/
    width: auto;
    height: calc(100% - 20px);
}

.container-fluid .sidebar-expanded {

    /*display:none;*/
}

/* Modifies the properties of the button with hidden visibility on load */
.button {
    /*transition-delay: 0.5s;*/
    visibility: hidden;
}

/* IF the sidebar is showing THEN
 * expanded the page-content-wrapper IF sidebarExpanded is toggled on
 */
#wrapper.showSidebar.sidebarExpanded #sidebar-wrapper {
    z-index: 1000;
    width: calc(100% - 32px);
    /*right: 24px;*/
}

/* IF the sidebar is showing THEN
 * move the page-content-toggle button to follow as the page-content-wrapper expands
 */
#wrapper.showSidebar.sidebarExpanded #page-content-toggle {
    /*right: 0;*/
    left: calc(100% - 32px);
}

#wrapper.showSidebar.sidebarExpanded .checkbox {
    visibility: hidden;
}

#wrapper.showSidebar.sidebarExpanded .carousel {
    visibility: visible;
    transition-delay: 0.5s;

}

#wrapper.showSidebar.sidebarExpanded .container-fluid.sidebar-expanded {
    visibility: visible;
    /*display: inline;*/
}

#wrapper.showSidebar.sidebarExpanded .nav-pills {
    visibility: visible;
    transition-delay: 0.5s;
}

#wrapper.showSidebar.sidebarExpanded #close-sidebar {
    /*left: auto;*/
    /*right: 12px;*/
    /*visibility: hidden;*/
    display:none;
}

#wrapper.showSidebar.sidebarExpanded .row {
    transition-delay: 0.5s
}

/* IF the showSidebar is toggled on THEN
 *  set the width to 20 % AND add 20 px padding
 */
/*#wrapper.showSidebar #sidebar-wrapper {
    width: 20%;
    z-index: 100;
    left: 0%;

}*/

#wrapper.showSidebar .container-fluid.sidebar-open {
    /*visibility: visible;*/
    /*display: inline;
    z-index: 1000;*/
    -webkit-transition: all 0.5s ease 0.5s;
    -moz-transition: all 0.5s ease 0.5s;
    -ms-transition: all 0.5s ease 0.5s;
    -o-transition: all 0.5s ease 0.5s;
    transition: all 0.5s ease 0.5s;
}

#wrapper.showSidebar #cmp-sidebar-wrapper {
    /*width: 20%;*/
    z-index: 0;
    left: 20%;
}

#wrapper.showSidebar #page-content-toggle {
    /*border: 1px solid black;*/
    /*background: #006699;*/
    background: white;
    /*background: lightblue;*/
    left: 20%;
    z-index: 1000;
}

#wrapper.showSidebar #page-content-toggle:hover {
    background: dodgerblue;
    /*background: #006699;*/

    /*-webkit-transition: color 0.2s ease ;*/
    /*-moz-transition:  color 0.2s ease ;*/
    /*-ms-transition:  color 0.2s ease ;*/
    /*-o-transition:  color 0.2s ease ;*/
    /*transition:  color 0.2s ease ;*/
}


#wrapper.showSidebar #page-content-toggle:hover .expand-colour {
    /*background: white;    */
    color: white;
}

#wrapper.showSidebar #close-sidebar {
    /*z-index: 1000;*/
    /*display: inline;*/
    /*left: calc(20%- 45px);*/
}

#wrapper.showSidebar #add-suburb {
    z-index: 1000;
    display: inline;
}

#wrapper.showSidebar #add-suburb:hover .colour {
    color: #7bc742;
    /*background: white;*/
}

.center {

    vertical-align: middle;
    /*align-self:;*/
}

.colour {
    color: white;
}

.expand-colour {
    /*color: #006699;*/
    color: dodgerblue;

}
#wrapper.showSidebar #close-sidebar:hover .colour{
    color: red;
}
/* IF the sidebar is showing THEN
 * Set the map width to be 80%
 */
#wrapper.showSidebar #map {
    width: calc(80% - 32px);
}

#wrapper.cmpChecked #page-content-toggle {
    left: 40%;
    right: auto;

}

#wrapper.cmpChecked #cmp-sidebar-wrapper {
    /*left: 20%;*/
    /*right: auto;*/
    visibility: visible;
    display: inline;

}

#wrapper.cmpSuburbClicked #close-sidebar {
    left: calc(40% - 45px);
    z-index: 1000;
    /*right: auto;*/
}

#wrapper.cmpChecked .col-style {
    visibility: visible;
}


#wrapper.cmpChecked #sidebar-wrapper {
    border-right: 1px solid lightgrey;
}
/*#wrapper.cmpChecked .divider {
    transition-delay: 0.1s;
    visibility: visible;
    -webkit-transition: all 0.5s ease 0.5s;
    -moz-transition: all 0.5s ease 0.5s;
    -ms-transition: all 0.5s ease 0.5s;
    -o-transition: all 0.5s ease 0.5s;
    transition: all 0.5s ease 0.5s;

}*/

#wrapper.cmpChecked .close-sidebar{
    right : 10px;

}

#wrapper.cmpChecked #map {
    width: calc(60% - 24px);
}

#wrapper.cmpSuburbClicked.sidebarExpanded .divider {
    visibility: hidden;
}

#wrapper.cmpSuburbClicked.sidebarExpanded #sidebar-wrapper {
    width: calc(50% - 16px);
}

#wrapper.cmpSuburbClicked.sidebarExpanded #cmp-sidebar-wrapper {
    z-index: 1000;
    left: calc(50% - 16px);
    width: calc(50% - 16px);

}

#wrapper.clicked #add-suburb:hover .colour {
    color: red;
}
/* IF the sidebar is showing THEN
 * the button will become visible
 */
#wrapper.showSidebar .button{
    /*transition-delay: 1.0s;*/
    visibility: visible;
}

#wrapper.showClose .button {
    visibility: visible;
}



#heatmap-housing {
    position: fixed;
    z-index: 100;
    right: calc(5% + 160px);
    width: 80px;
    bottom: 4%;
    height: 5%;
}

#heatmap-schools {
    position: fixed;
    z-index: 100;
    right: calc(5% + 80px);
    width: 80px;
    bottom: 4%;
    height: 5%;
}
 #heatmap-transport {
	position: fixed;
	z-index: 100;
	right: 5%;
	width: 80px;
	bottom: 4%;
	height: 5%;
 }
.heatmap-button {
    cursor:pointer;
    text-align: center;
    /*margin-top: 5px;*/
    padding-top: 5px;
    -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
    -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
    background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
    background-color:#33bdef;
    border:1px solid #057fd0;
}

.heatmap-button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
    background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
    background-color:#019ad2;
}

.heatmap-button.selected {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
    background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
    background-color:#019ad2;
}

.checkbox-label {
    padding-left: 5px;
}

.checkbox-label.highlight-text{
    color: white;
}

.checkbox-highlight {
    background-color: #006699;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-right: 20px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

.highlight-heatmap-button {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}
