<div id="carousel-suburb" class="carousel slide" data-ride="carousel">
    <!-- start carousel -->
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-suburb" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-suburb" data-slide-to="1"></li>
        <li data-target="#carousel-suburb" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src={{url0}} alt="...">
        </div>
        <div class="item">
            <img src={{url1}} alt="...">
        </div>
        <div class="item">
            <img src={{url2}} alt="...">
        </div>
        <div class="item">
            <img src={{url3}} alt="...">
        </div>
        <div class="item">
            <img src={{url4}} alt="...">
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-suburb" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-suburb" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
